<h1>New students registration site</h1>

<form action="/hogwarts" method="post">

  <label for="first-name-field">First name:</label>
  <input type="text" name="first_name" id="first-name-field">

  <label for="second-name-field">Second name:</label>
  <input type="text" name="second_name" id="second-name-field">



  <label for="house-select">House:</label>
  <select name="house_id" id="house-select">

  <% for house in House.all do %>
    <option value= <%=house.id  %>><%= house.name %></option>


  <% end %>
  </select>





  <label for="age-field">Age:</label>
  <input type="number" name="age" id="age-field">

  <input type="submit" value="Register student">

</form>
